head
  link(rel='stylesheet' href='style.css')
  title Heads Up
div(id='nickname-div' class='container')
  form(id='nickname-form' action='')
    input(id='nickname-box' type='text' placeholder='Enter Nickname' autocomplete="off")
    input(id='nickname-button' type='submit' value='Go')
div(id='waiting-div' style='display: none')
  p(id='waiting-header') Searching for a game...
div(id='chat-div' class='container' style='display: none')
  div(id='chat-display-div' class='container')
    ul(id='chat')
  form(id='chat-form' action='')
    input(id='chat-box' type='text' placeholder='Chat' autocomplete="off")
    input(id='chat-button' type='submit' value='Send')
div(id='table-div' class='container' style='position: relative; display: none')
  div(id='opponent' style='top: 5%;')
  div(class='action-div' id='opponent-action' style='top: 20%;')
    h4(class='action-header' id='opponent-action-header' style='display: inline')
  div(id='pot' style='top: 25%;')
    h4(id='pot-header')
  ul(id='table-cards' style='top: 40%;')
  div(class='action-div' id='player-action' style='top: 65%;')
    h4(class='action-header' id='player-action-header' style='display: inline')
  div(id='player' style='top: 80%;')
    div(id='actions-div')
      input(id='slider' type='range' min='40' max='1000')
      h4(id='slider-val')
      input(class='controls' id='bet-button' type='button' value='Bet')
      input(class='controls' id='call-button' type='button' value='Call')
      input(class='controls' id='check-button' type='button' value='Check')
      input(class='controls' id='fold-button' type='button' value='Fold')
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="script.js")