head
  link(rel='stylesheet' href='style.css')
  link(rel='icon' href='favicon.ico' type='image/x-icon')
  title Heads Up
div(id='nickname-div' class='container' style='display: none')
  form(id='nickname-form' action='')
    input(id='nickname-box' type='text' placeholder='Enter Nickname' autocomplete="off")
    input(id='nickname-button' type='submit' value='Go')
div(id='waiting-div' style='display: none')
  p(id='waiting-header') Searching for a game...
div(id='chat-div' class='container' style='display: none')
  div(id='chat-display-div' class='container')
    ul(id='chat')
  form(id='chat-form' action='')
    input(id='chat-box' type='text' placeholder='Chat' autocomplete="off")
div(id='actions-div' style='display: none')
  input(id='slider-val' type='number' min='40' max='1000' value=40)
  input(id='slider' type='range' min='40' max='1000' value=40)
  input(class='controls' id='bet-button' type='button' value='Bet')
  input(class='controls' id='call-button' type='button' value='Call')
  input(class='controls' id='check-button' type='button' value='Check')
  input(class='controls' id='fold-button' type='button' value='Fold')
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="script.js")
script(src="visuals.js")